{% extends 'base.html.twig' %}

{% block title %}Profil de {{ user.firstname }} - {{ parent() }}{% endblock %}

{% block body %}
    <div class="flex flex-wrap lg:flex-nowrap">
        <div class="lg:w-1/3 lg:mr-10">
            <div class="bg-white rounded-md">
                <img class="w-full rounded-t-md" src="{{ asset(user.avatar) }}" alt="{{ user.firstname }}">
                <div class="p-3">
                    <h2 class="text-2xl font-bold">{{ user.firstname }}</h2>
                    <p class="text-gray-600 border-b pb-2 mb-2">Né(e) le {{ user.birthday.format('d/m/Y') }} ({{ user.age }} ans)</p>
                    <p class="text-sm text-gray-600 border-b pb-2 mb-2">
                        <strong>Email:</strong>
                        {{ user.email }}
                    </p>
                    <div class="text-sm text-gray-600">
                        <strong>Biographie:</strong>
                        <p>{{ user.biography }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="lg:w-2/3">
            {% for post in user.posts %}
                {{ include('_post.html.twig') }}
            {% endfor %}
        </div>
    </div>
{% endblock %}
